body {
  margin: 0 auto;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-ptr {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
.textBlock {
  width: 80%;
  float: left;
}
.actionBlock {
  width: 20%;
  float: right;
}
.logo{
  width: 20%;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(1, 19, 26);
  color: #fff;
}
.nav-links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #fff;

}
